In [1]:
# I already have some experience with python, so I will just skim these lessons

In [2]:
# This lesson was completely focused on a basic level. What is a variable, variable types, Lists, Arrays. This 
# would be helpful for a beginner

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("lsd_math_score_data.csv")

In [3]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data["Time_Delay_in_Minutes"]

0      5
1     15
2     30
3     60
4    120
5    240
6    480
Name: Time_Delay_in_Minutes, dtype: int64

In [6]:
data["Test_Subject"] = "Test"

In [7]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score Test_Subject
0                      5     1.17                78.93         Test
1                     15     2.97                58.20         Test
2                     30     3.26                67.47         Test
3                     60     4.69                37.47         Test
4                    120     5.83                45.65         Test
5                    240     6.00                32.92         Test
6                    480     6.41                29.97         Test

In [8]:
data["High_Score"] = 100

In [9]:
data["High_Score"] = data["High_Score"] + data["Avg_Math_Test_Score"]

In [10]:
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Test,178.93
1,15,2.97,58.20,Test,158.20
2,30,3.26,67.47,Test,167.47
3,60,4.69,37.47,Test,137.47
4,120,5.83,45.65,Test,145.65
5,240,6.00,32.92,Test,132.92
6,480,6.41,29.97,Test,129.97

In [11]:
data["High_Score"]*=data["High_Score"]

In [12]:
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Test,32015.9449
1,15,2.97,58.20,Test,25027.2400
2,30,3.26,67.47,Test,28046.2009
3,60,4.69,37.47,Test,18898.0009
4,120,5.83,45.65,Test,21213.9225
5,240,6.00,32.92,Test,17667.7264
6,480,6.41,29.97,Test,16892.2009

In [18]:
columnList = ["LSD_ppm", "Avg_Math_Test_Score"]

In [19]:
cleanData = data[columnList]

In [17]:
cleanData

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [21]:
testing = data[["LSD_ppm", "Avg_Math_Test_Score"]]

In [22]:
testing

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [23]:
#Challenge
x = data[["LSD_ppm"]]

In [24]:
x

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

In [25]:
type(x)

pandas.core.frame.DataFrame

In [26]:
y = data["LSD_ppm"]

In [27]:
y

0    1.17
1    2.97
2    3.26
3    4.69
4    5.83
5    6.00
6    6.41
Name: LSD_ppm, dtype: float64

In [28]:
type(y)

pandas.core.series.Series

In [29]:
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Test,32015.9449
1,15,2.97,58.20,Test,25027.2400
2,30,3.26,67.47,Test,28046.2009
3,60,4.69,37.47,Test,18898.0009
4,120,5.83,45.65,Test,21213.9225
5,240,6.00,32.92,Test,17667.7264
6,480,6.41,29.97,Test,16892.2009

In [30]:
#Delete a column
del data["Test_Subject"]

In [31]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [32]:
del data["High_Score"]

In [33]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97